<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <header>
            {% include 'includes/nav.html' %}
        </header>
        <main>
           {% block content %}{% endblock %}
        </main>
    </body>
</html>